.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    padding:20px;
    border-bottom: 1px solid #f3f4f6;
    font-size: 1.2rem;
    max-height: 80px;
    box-sizing: border-box;
}


.header-left {
    display: flex;
    gap: 12px;
}
.header-right {
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 22px;
}
.username {
    color: #64748b;
    font-size: 1rem;
    margin-top: 10px;
}
.header-right button {
    background: #fff;
    color: #111928;
    border: 1px solid #e5e7eb;
    border-radius: 9px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.13s;
}
.header-right button:hover {
    background: #f3f4f6;
}

img {
    height: 100%;
    width: auto;
}
