.tournament-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    flex: 0 0 calc(33.33% - 1rem);
    box-sizing: border-box;
}

.tournament-card:hover {
    transform: translateY(-5px);
}

.tournament-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.tournament-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}


.badge-open {
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: #28a745;
}

.badge-closed {
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: #dc3545;
}

.deadline {
    margin: 0.3rem 0;
    font-size: 0.95rem;
    color: red;
}

.location,
.date,
.details,
.prize,
.label-name{
    margin: 0.3rem 0;
    font-size: 0.95rem;
    color: #555;
}

.privacy {
    font-size: 0.85rem;
    font-style: italic;
}

.footer {
    margin-top: 1rem;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.subscribe-button,
.update-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.subscribe-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    float: right;
    margin-top: 10px;
}

.subscribe-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.update-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.update-button {
    background-color: #f0f0f0;
    color: #333;
}

.griglia-tornei {
    display: flex;
    flex-wrap: wrap; /* Va a capo se mancano spazio */
    gap: 1rem;        /* Spazio tra le card */
    justify-content: flex-start; /* o center / space-between, se preferisci */
}

.name-team-input{
    width: 80%;
    padding: 10px 12px;
    margin: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
}

.subscribe-form{
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 100%;
    align-items: center;
    margin:auto;
}

#back{
    background-color: red;
    margin-right: 15px;
}

.subscribe-form {
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
